server-port=${SKYBIT_PORT}
server-ip=127.0.0.1
motd=SkyBit Slimefun Survival
online-mode=false
enforce-secure-profile=false
gamemode=survival
difficulty=normal
hardcore=false
pvp=true
spawn-protection=0
view-distance=10
simulation-distance=6
max-players=${PLAYER_LIMIT}
allow-flight=false
enable-command-block=false
enable-rcon=false
enable-query=false
white-list=false
generate-structures=true
level-name=world
