runtime/
backups/
*.log
proxy/logs/
proxy/plugins/
proxy/velocity.jar
servers/*/cache/
servers/*/logs/
servers/*/libraries/
servers/*/plugins/*.jar
servers/*/server.jar
servers/*/world*/
servers/*/banned-*.json
servers/*/ops.json
servers/*/usercache.json
servers/*/whitelist.json
plugins-src/SkyBitCore/build/
plugins-src/SkyBitLobby/build/
plugins-src/SkyBitAuth/build/
