server-port=${LOBBY_PORT}
server-ip=127.0.0.1
motd=SkyBit Lobby
online-mode=false
enforce-secure-profile=false
gamemode=adventure
force-gamemode=true
difficulty=peaceful
spawn-protection=0
view-distance=8
simulation-distance=4
max-players=${PLAYER_LIMIT}
allow-flight=true
enable-command-block=false
enable-rcon=false
enable-query=false
white-list=false
generate-structures=false
level-name=world
