config-version = "2.7"
bind = "0.0.0.0:${PROXY_PORT}"
motd = "<gradient:#2DDCFF:#A54CFF><bold>SKYBIT NETWORK</bold></gradient> <dark_gray>•</dark_gray> <white>1.21.11</white>\n<aqua>»</aqua> <white>Slimefun</white> <dark_gray>•</dark_gray> <light_purple>SkyBlock</light_purple> <dark_gray>•</dark_gray> <gold>Economy</gold> <dark_gray>•</dark_gray> <yellow>Quests</yellow> <dark_gray>•</dark_gray> <green>Events</green> <aqua>«</aqua>"
show-max-players = ${PLAYER_LIMIT}
online-mode = false
force-key-authentication = false
prevent-client-proxy-connections = false
player-info-forwarding-mode = "modern"
forwarding-secret-file = "forwarding.secret"
announce-forge = false
kick-existing-players = false
ping-passthrough = "MODS"
enable-player-address-logging = true

[servers]
lobby = "127.0.0.1:${LOBBY_PORT}"
skybit = "127.0.0.1:${SKYBIT_PORT}"
skyblock = "127.0.0.1:${SKYBLOCK_PORT}"
try = ["lobby"]

[forced-hosts]
"survival.${PUBLIC_HOST}" = ["skybit"]
"skyblock.${PUBLIC_HOST}" = ["skyblock"]

[advanced]
compression-threshold = 256
compression-level = -1
login-ratelimit = 3000
connection-timeout = 5000
read-timeout = 30000
haproxy-protocol = false
tcp-fast-open = false
bungee-plugin-message-channel = true
show-ping-requests = false
failover-on-unexpected-server-disconnect = true
announce-proxy-commands = true
log-command-executions = false
log-player-connections = true

[query]
enabled = false
port = ${PROXY_PORT}
map = "SkyBit Network"
show-plugins = false
