server-port=${SKYBLOCK_PORT}
server-ip=127.0.0.1
motd=SkyBit SkyBlock
online-mode=false
enforce-secure-profile=false
gamemode=survival
difficulty=normal
pvp=true
spawn-protection=0
view-distance=8
simulation-distance=5
max-players=${PLAYER_LIMIT}
allow-flight=true
enable-command-block=false
enable-rcon=false
enable-query=false
white-list=false
generate-structures=false
level-name=world
